:root {
    --primary-background: #ffffff;
    --secondary-background: #f7f7f7;
    --primary-text: #020202;
    --secondary-text: #777777;
    --accent: #83eecc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-weight: 500;
    scroll-behavior: smooth;
}

.theme-toggle:checked {
    --primary-background: #000000;
    --secondary-background: #f7f7f7;
    --primary-text: #020202;
    --secondary-text: #777777;
    --accent: #83eecc;
}

.container {
    padding: 2em 4em;
}

.right-clip-1,
.right-clip-2 {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.right-clip-1 {
    z-index: 1;
    background-color: #f5f5f5;
    width: 200px;
    height: 200px;
}
.right-clip-2 {
    background-color: #fbfbfb;
    width: 270px;
    height: 270px;
}

.flex-c-spbw {
    min-height: calc(100vh - 4em);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 1.6em;
    width: min-content;
    font-weight: 800;
    margin-top: 1em;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.h-line {
    width: 200px;
    height: 2px;
    background-color: var(--secondary-text);
    margin-right: 2em;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.icons i {
    font-size: 1.6em;
    color: var(--secondary-text);
    transition: all 0.2s ease;
}

.fa-instagram:hover {
    color: #c13584;
}

.fa-github:hover {
    color: #333333;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.text-cont {
    display: flex;
    align-items: center;
}

.vert-btn {
    transform: rotate(-90deg) translateY(-64px);
    font-size: 1.5em;
    color: var(--primary-text);
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease;
}

.vert-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: var(--primary-text);
    transition: all 0.2s ease;
}

.vert-btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 8px;
    background-color: var(--primary-text);
    transition: all 0.2s ease;
}

.vert-btn:hover::before {
    transform: translateY(-4px);
    background-color: var(--accent);
}

.vert-btn:hover::after {
    transform: translateY(4px);
    background-color: var(--accent);
}

.landing-text {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 1.5rem;
    transform: translateX(-64px);
}

.landing-text span {
    color: var(--accent);
}

.flex-r-spbw {
    padding: 3em 1em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.aboout-text {
    width: 65%;
}

.about-heading {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.about-me {
    color: var(--secondary-text);
    letter-spacing: 0.4px;
    line-height: 2;
}

.banner {
    width: 218px;
    height: 218px;
    border-radius: 50%;
}

.skills-cont {
    padding: 3em 1em;
}

.skills-grid {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.skills-grid > div {
    display: flex;
    flex-direction: column;
}

.skill-item {
    margin-top: 2em;
    font-weight: 700;
    font-size: 1.1em;
    color: var(--primary-text);
    list-style-type: circle;
}

/*
    @TODO: Add dark theme toggle...link: https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2
*/
